#root {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  display: block;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.logos {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  /* max-width: 90%;  */
}


.logo-passarinho {
  position: absolute;
  margin-bottom: 5%;
  margin-left: 65%;
  display: flex;
  max-width: 400px;
  height: auto;
  animation: moveUpDown 2s infinite alternate ease-in-out;
}

@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(30px);
  }
}

.logo-link {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}


.logo-passarinho:hover {
  filter: drop-shadow(0 0 0.8em rgba(247, 148, 29, 0.7));
  transform: scale(1.1);
}

.logo-font {
  display: flex;
  height: auto;
  margin-top: 25rem;
  width: 80%;
  max-width: 1700px;
  overlay: hidden;
}

.logo-font {
  filter: drop-shadow(4px 4px 0.2em rgba(170, 167, 163, 0.7));
}


.card {
  margin-top: 45px;
  background-color: #242424;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border: none;
  padding: 0.5rem;
  flex-direction: row;
  text-decoration: none;
}

.card img {
  width: auto;
  height: 40px;
  transition: transform 0.3s ease, filter 0.3s ease;
  cursor: pointer;
}

.card img:hover {
  filter: drop-shadow(0 0 0.8em rgba(255, 255, 255, 0.7));
  transform: scale(1.1);
}

@media (min-width: 768px) {
  .logo-passarinho {
    height: 27em;
  }


  .card {
    flex-direction: row;
  }

  .description {
    font-size: 1.5rem;
    color: white;
  }
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.cta-button {
  background-color: #252525;
  color: #f8eed4;
  font-family: roboto, sans-serif;
  /* width: 50%; */
  padding: 0.40rem 1em;
  text-decoration: none;
  font-size: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 5px rgba(228, 222, 215, 0.3);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.cta-button:hover {
  background-color: #d18213;
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(247, 148, 29, 0.5);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}