.hero {
  width: 100%;
  max-width: 600px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
  position: relative;
  margin: 0 auto;
  box-sizing: border-box;
}

.logos {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.logo-passarinho {
  position: absolute;
  width: 40%;
  margin-left: 42rem;
  margin-bottom: 21rem;
  transform: translateX(-50%);
  animation: moveUpDown 3s infinite alternate ease-in-out;
  z-index: 2;

  height: auto;
}

@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(30px);
  }
}

.logo-link {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: max-content;
}

.logo-passarinho:hover {
  filter: drop-shadow(0 0 0.8em rgba(247, 148, 29, 0.7));
  transform: scale(1.1);
}

.logo-font {
  margin-top: 60px;
  width: 900px;
  height: auto;
  filter: drop-shadow(4px 4px 0.2em rgba(170, 167, 163, 0.7));
  z-index: 1;
  position: relative;
}

.logo-font {
  filter: drop-shadow(4px 4px 0.2em rgba(170, 167, 163, 0.7));
}

.card {
  background-color: #242424;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 1rem;
  flex-direction: row;
  text-decoration: none;
  margin: 2rem;
}

.card img {
  width: auto;
  height: 50px;
  transition: transform 0.3s ease, filter 0.3s ease;
  cursor: pointer;
}

.card img:hover {
  filter: drop-shadow(0 0 0.8em rgba(255, 255, 255, 0.7));
  transform: scale(1.1);
}

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: .5rem;
  width: 50%;

}

.description {
  background-color: #252525;
  color: #f8eed4;
  font-family: "DIN Condensed Web";
  font-size: 1.5rem;
  padding: 0.5rem 6rem;
  text-decoration: none;
  border-radius: 0.5rem;
  box-shadow: 0 0 5px rgba(228, 222, 215, 0.3);
  transition: background-color 0.3s ease, transform 0.2s ease;
  z-index: 2;
}

.description:hover {
  background-color: #d18213;
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(247, 148, 29, 0.5);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 768px) {
  .logo-passarinho {
    width: 40%;
    margin-left: 25rem;
    top: -10rem;
  }

  .logo-font {
    width: 600px;
    margin-top: 45px;
  }

  .card img {
    height: 30px;
  }

  .card {
    padding: 3rem 0rem 0.5rem 0rem;
    margin: 1rem;
  }

  .description {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .logo-passarinho {
    width: 35%;
    margin-left: 13rem;
    top: -6.5rem;
  }

  .logo-font {
    width: 320px;
    margin-top: 5px;
  }

  .card img {
    height: 30px;
  }

  .description {
    font-size: 1rem;
  }


  .card {
    padding: 2rem 0rem 0.5rem 0rem;
    margin: 1rem;
  }
}

@media (max-width: 375px) {
  .logo-passarinho {
    /* top: -5px; */
    width: 40%;
    margin-left: 12rem;
    top: -7rem;
  }

  .logo-font {
    width: 300px;
    margin-top: 5px;
  }

  .card img {
    height: 30px;
  }

  .description {
    font-size: 1rem;
    padding: 0.5rem 4rem;
  }

  .card {
    padding: 2rem 0rem 0.5rem 0rem;
    margin: 1rem;
  }

  .main-content {
    margin: 0 auto;
  }
}

@media (max-width: 320px) {
  .logo-passarinho {
    top: -18px;
    width: 50px;
    margin-right: 3rem;
  }

  .logo-font {
    width: 180px;
    margin-top: 50px;
  }

  .card img {
    height: 25px;
  }

  .description {
    font-size: 0.9rem;
  }

  .card {
    padding: 0rem;
  }
}