.underfestContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.9)),
    url(../assets/images/underfest.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.selectUnderfest {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-size: cover;
  z-index: 1;
}

.detailLine {
  margin: 0;
  width: 100%;
  max-width: 1900px;
  color: #fff;
  display: flex;

}

.titleUnderfest {
  font-size: 3rem;
  margin: 0;
  font-family: "DIN Condensed Web", sans-serif;
  letter-spacing: 2px;
  color: #fff;
  display: flex;
  justify-items: center;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.titleBands {
  font-size: 3rem;
  font-family: "DIN Condensed Web", sans-serif;
  letter-spacing: 2px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  margin-top: 5rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.subTitle {
  font-family: "DIN Condensed Web", sans-serif;
  text-align: center;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 65%;

}

.textUnderfest {
  font-family: "DIN Condensed Web", sans-serif;
  font-size: 1.7rem;
  color: #fff;
  padding: 0;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  margin: 5rem;
  /* text-decoration: underline; */
  /* text-decoration-thickness: 2px; */
  /* text-underline-offset: 5px; */
  background-color: rgba(0, 0, 0, 0.8);
  padding: 1rem;
  width: 45%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
}

.bands {
  padding: 0 5rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 3;
}