.materialContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 0;
}

#carouselUndercolin {
  margin-top: 2rem;
  position: relative;
}

.contentInner {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
}

.carouselInner {
  width: 100%;
  margin-bottom: 2rem;
}

.carouselIndicators {
  position: absolute;
  bottom: 5px;
}

.spotifyWrapper {
  width: 100%;
  max-width: 850px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(255, 248, 246, 0.36);
  margin: 3rem auto;
}

.spotifyWrapper iframe {
  display: block;
  width: 100%;
  height: 352px;
  border: none;
}

/* .spotifySingleWrapper { */
/* background: rgb(157, 0, 50); */
/* padding: 10px; */
/* border-radius: 12px; */
/* box-shadow: 0 0 20px rgba(128, 126, 126, 0.9); */
/* max-width: 850px; */
/* width: 100%; */
/* box-sizing: border-box; */
/* overflow: hidden; */
/* position: relative; */
/* min-height: 220px; */
/* display: flex; */
/* justify-content: center; */
/* align-items: center; */
/* margin-right: 5rem; */
/* margin-left: 10rem; */
/* margin: 5rem auto; */
/* centraliza o container na tela */

/* } */


/* .spotifySingle {
  width: 100%;
  background-color: rgb(157, 0, 50);
  border-radius: 12px;
  box-sizing: border-box;
  padding: 0;
  max-width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden
} */


/* iframe {
  width: 100%;
  height: 180px !important;
  border-radius: 12px;
  border: none;
  background: transparent;
  display: block;
  overflow: hidden;
  margin: 0 auto;
}

.spotifySingleWrapper {
  min-height: 200px;
} */

/* @media (max-width: 768px) {
  .spotifySingleWrapper {
    width: 90%;
  } */

/* .spotifySingle {
    max-width: 100%;
    padding: 8px 12px;
  } */

/* .spotifyIframe {
    height: 200px !important;
  }
}

@media (max-width: 414px) {
  .spotifySingleWrapper {
    width: 95%;
  } */

/* .spotifySingle {
    max-width: 100%;
    padding: 6px 10px;
  } */

/* .spotifyIframe {
    height: 170px !important;
  }
} */


/* @media (max-width: 375px) {
  .spotifySingleWrapper {
    width: 95%;
    padding: 8px;
  } */

/* .spotifySingle {
    padding: 6px 8px;
  } */

/* .spotifyIframe {
    height: 160px !important;
  } */
/* } */