.materialContainer {
  display: flex;
  justify-content: center;
  padding: 2rem 1rem;
}

.carouselIndicators {
  position: absolute;
  bottom: 1px;
}


#carouselContainer {
  display: flex;
  flex-direction: column;
  /* coloca carrossel e spotify na vertical */
  align-items: center;
  /* centraliza */
  gap: 2rem;
  /* espaço entre carrossel e spotify */
  width: 100%;
  max-width: 800px;
  /* largura máxima para ambos */
}

.carouselInner img {
  object-fit: cover;
  width: 100%;
  height: auto;
}

/* Wrapper do Spotify */
.spotifySingleWrapper {
  width: 100%;
}

/* Ajusta o iframe do Spotify */
.spotifyIframe {
  width: 100%;
  height: 12rem;
  /* altura ajustada */
  border: none;
  border-radius: 0.75rem;
}