.agendaSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: rgba(17, 20, 35, 0.3); */
  background: rgb(17,20,35);
background: linear-gradient(0deg, rgba(17,20,35,0.3) 95%, rgba(36,36,36,0.26) 100%);
  border-radius: 20px;
  width: 85%;
  height: auto;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

h1 {
  color: #fff;
  font-size: 2.5rem;
  font-family: "Din Condensed Web", sans-serif;
  text-align: center;
  margin-bottom: 20px;
}

.agendaShows {
  display: grid;
  grid-template-columns: 1fr 1fr 3fr 1fr; 
  margin-bottom: 15px;
  width: 65rem;
  justify-items: center;

}

.show {
  display: contents; /* Permite que os filhos sejam grid items */
}

.show span, .show h2, .show p, .show a {
  color: #fff;
  font-size: 1.5rem;
  text-align: center;
  font-family: "Din Condensed Web", sans-serif;
  align-self: center; 
}

.show p {
  font-size: 1.2rem;
  padding: 0;
  margin: 0;
}

.show a {
  color: #fff;
  text-decoration: none;
}

.show a:hover {
  text-decoration: underline;
}

