.agendaSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:  rgb(30, 31, 36);
  border-radius: 20px;
  width: 100%;
  max-width: 1900px;
  margin: 0 auto;
  margin-top: 125rem;
  padding-top: 4rem;
  padding-bottom: 3rem;
  position: relative;
  box-shadow: 0px 0 10px rgba(68, 67, 67, 0.5);
}

.custom-line {
  border: none;
  border-top: 1px solid #fff;
  width: 100%;
  margin: 0;
}

.tituloAgenda {
  margin: 0;
  color: #fff;
  font-size: 3rem;
  font-family: "Din Condensed Web", sans-serif;
  text-align: center;
  /* margin-top: 10px; */
}

.agendaShows {
  display: grid;
  grid-template-columns: 1fr 1fr 3fr 1fr;
  width: 100%;
  max-width: 65rem;
  justify-items: center;
  /* gap: 10px; */
  height: 10rem;
}

.show {
  display: contents;
}

.show span,
.show h2,
.show p,
.show a {
  color: #fff;
  font-size: 1.5rem;
  text-align: center;
  font-family: "Din Condensed Web", sans-serif;
  align-self: center;
}

.show p {
  font-size: 1.2rem;
  padding: 0;
  margin: 0;
}

.show a {
  color: #fff;
  text-decoration: none;
}

.show a:hover {
  text-decoration: underline;
}