.historiaContainer {
  margin-top: 12rem;
}

.historia {
  display: flex;
  flex-direction: row;
  gap: 4rem;
  width: 100%;
  padding: 5rem;
  padding-top: 4rem;

}

.textoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem; 
}


.tituloHistoria {
  padding: 0;
  color: #fff;
  font-family: 'DIN Condensed Web', roboto, sans;
  font-size: 3rem;
  letter-spacing: 2px;
  display: flex;
  justify-content: center;
}

.textoHistoria {
  display: flex;
  color: #fff;
  text-decoration: none;
  font-family: 'DIN Condensed Web', roboto, sans;
  font-size: 1.5rem;
  text-align: center;
  flex-direction: row;
}

.fotoShow {
  display: flex;
  width: 40%;
  height: 50%;
  border-radius: 3%;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6);
}

.detalheLinhaHist {
  margin: 1rem 0;
  width: 100%;
  max-width: 1900px;
  color: #fff;
  display: flex;
}