.homeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Garante que ocupe toda a altura da viewport */
  width: 100%;
}

.store {
  display: block;
  margin: 8rem auto; /* Corrigido para margens automáticas e espaçamento superior */
  width: 90%; /* Ajuste conforme necessário */
  max-width: 800px;
  
} 