#carousel-container {
  display: flex;
  justify-content: center; 
  align-items: center; 
  width: 100%;
  /* max-width: 1900px; */
  background: linear-gradient(to bottom, #242424 1%, #000 100%); 
  padding: 4rem 0;
}

.carousel {
  width: 100%;
  max-width: 1000px; 
  margin: auto;
  height: auto; 

}

#imagemMaterial{
  width: 100%;
}

.detalheLinha{
  /* margin-bottom: 5rem; */
  margin: 1rem 0;
  width: 100%;
  max-width: 1900px;
  color: #fff;
  display: flex;
}

.materialTitulo{
  font-size: 3rem;
  font-family: "Din Condensed Web", sans-serif;
  text-align: center;
  letter-spacing: 2px;
  margin: 0;
  padding:1, 0;
  color: #fff;
}

#iconPrevNext{
  color:aqua;
}

/* .carousel-control-next-icon, .carousel-control-prev-icon{
  width: 5rem;
  height: 5rem;
} */

.carousel-control-next, .carousel-control-prev{
  width: 8%;
}