.sectionMaterial {
  background: linear-gradient(to bottom, #242424 1%, #000 100%);
  width: 100%;
}


#carousel-container {
  /* padding-top: 5rem; */

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8rem;

}

.materialU-container {
  display: flex;
  flex-direction: column;
}

.materialU-container a {
  padding: 2rem;
  font-size: 20px;
  color: #840303;
  z-index: 1;
  text-decoration: none;
}


.carousel {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  height: auto;

}

#imagemMaterial {
  width: 100%;
}

.carousel-control-next,
.carousel-control-prev {
  width: 8%;
}