.sectionMaterial{
  background: linear-gradient(to bottom, #242424 1%, #000 100%); 
  width: 100%;
}


#carousel-container {
  display: flex;
  justify-content: center; 
  align-items: center; 
  padding: 3rem 0;

}

.material-container{
display: flex;
flex-direction: column;
}

.material-container a{
  padding: 2rem;
  font-size: 20px;
  color: #fff;
  z-index: 1;
  text-decoration: none;
}
  

.carousel {
  width: 100%;
  max-width: 1000px; 
  margin: auto;
  height: auto; 

}

#imagemMaterial{
  width: 100%;
}

.detalheLinha{
  /* margin-bottom: 5rem; */
  margin: 1rem 0;
  width: 100%;
  max-width: 1900px;
  color: #fff;
  display: flex;
}

.materialTitulo{
  font-size: 3rem;
  font-family: "Din Condensed Web", sans-serif;
  text-align: center;
  letter-spacing: 2px;
  padding:0 ;
  color: #fff;
}


.carousel-control-next, .carousel-control-prev{
  width: 8%;
}